@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./fonts/zig_____.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "MyFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "MyFont", "Courier New", Courier, monospace;
}
