@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./fonts/zig_____.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "MyFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, #0a7338, #034018);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  font-family: "MyFont", "Courier New", Courier, monospace;
}

.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #f2911b;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: black;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
